/*
    Base html component styling for William Style Guide
*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
    scroll-behavior: smooth;
}

/* Defining the custom max-width of the body | Can be customizeable by changing the max-width */

body {
    color: rgb(55, 53, 47);
    line-height: 1.5em;
    white-space: wrap;
    height: 100%;
}

main {
    max-width: 150vh;
    margin: 5vh auto;
    min-height: 100%;
}

ul, ol {
    text-align: left;
    margin-top: 5em;
}

h1, h2, h3 {
    letter-spacing: -0.01em;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 0;
}

h1 {
    font-size: 1.875rem;
    margin-top: 1.875rem;
}

.header {
    text-align: left;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0.75em;
}

footer {
    text-align: center;
    margin: 2vh;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));
}

blockquote {
    font-size: 1.25em;
    margin: 1em 0;
    padding-left: 1em;
    border-left: 3px solid rgb(55, 53, 47);
    line-height: 3ch;
}

p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

a, a.visited {
    color: rgb(55, 53, 47);
    font-weight: bold;
    text-decoration: underline;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: currentcolor;
    text-decoration-thickness: auto;
}

a:hover {
    color: rebeccapurple;
}

ol, ul {
    margin: 0;
    margin-block-start: 0.6em;
    margin-block-end: 0.6em;
}

/* Customizeable unordered list styling */

ul>li {
    list-style: disc;
}

/* Customizeable ordered list styling */

ol>li {
    list-style: decimal;
}

/* Font Styling */

.sans {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

.inline-list li {
    display: inline;
}