/* Flex Wrapper container styling */

.flex-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Grid Wrapper container styling */

.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 2vh;
    grid-auto-rows: minmax(20px, auto);
}

/* Centered items styling */

.centered {
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
}

/* Column Layout Styling */

.column-list {
    display: flex;
    justify-content: space-evenly;
}

.column {
    padding: 0 1em;
}

.column:first-child {
    padding-left: 0;
}